extends layout

block links
    link(href='/stylesheets/c3.css' rel='stylesheet' type='text/css')
    link(href='/stylesheets/style.css' rel='stylesheet' type='text/css')
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        
block scripts    
    script(src='/javascripts/d3.min.js' charset='utf-8' type='text/javascript')
    script(src='/javascripts/c3.min.js' type='text/javascript')
    script(src='/javascripts/jquery-2.2.1.min.js' type='text/javascript')    

block content
    h1= title
    div
        p #{message}
    div
        a.btn.btn-default(href='/gameentry/gamestart', title='Start Game') Game Start
    p
    div
        a.btn.btn-default(href='/gameentry/homescore', title='Home Score') Home Score
    p
    div
        a.btn.btn-default(href='/gameentry/homepenalty', title='Home Penalty') Home Penalty
    p
    div
        a.btn.btn-default(href='/gameentry/guestscore', title='Guest Score') Guest Score            
    p
    div
        a.btn.btn-default(href='/gameentry/guestpenalty', title='Guest Penalty') Guest Penalty
    p
    div
        a.btn.btn-default(href='/gameentry/gameend', title='Game End') Game End
         


            