extends layout

block links
    link(href='/stylesheets/c3.css' rel='stylesheet' type='text/css')
    link(href='/stylesheets/style.css' rel='stylesheet' type='text/css')
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        
block scripts    
    script(src='/javascripts/d3.min.js' charset='utf-8' type='text/javascript')
    script(src='/javascripts/c3.min.js' type='text/javascript')
    script(src='/javascripts/jquery-2.2.1.min.js' type='text/javascript')    

block content
    h1= title
    div
        form.form-horizontal(name='home_score', method='post' action='/gameentry/homescore')
            div.form-group
                label.col-sm-3.control-label(for='streamId') StreamId
                div.col-sm-9
                    input#streamId.form-control(type='text', name='streamId')
            div.form-group
                label.col-sm-3.control-label(for='periodOptions') Period
                div.col-sm-9
                    label.radio-inline 
                        input#periodOption1(type='radio' name='periodOptions' value='1')
                        | 1
                    label.radio-inline 
                        input#periodOption2(type='radio' name='periodOptions' value='2')
                        | 2
                    label.radio-inline
                        input#periodOption3(type='radio' name='periodOptions' value='3') 
                        | 3                        
                    label.radio-inline
                        input#periodOption4(type='radio' name='periodOptions' value='Overtime') 
                        | Overtime 
            div.form-group
                label.col-sm-3.control-label(for='time') Time
                div.col-sm-9
                    input#time.form-control(type='time', name='time')
            div.form-group
                label.col-sm-3.control-label(for='kindOptions') Kind
                div.col-sm-9
                    label.radio-inline 
                        input#kindOption0(type='radio' name='kindOptions' value='Even')
                        | Even
                    label.radio-inline 
                        input#kindOption1(type='radio' name='kindOptions' value='Power Play')
                        | Power Play
                    label.radio-inline
                        input#kindOption2(type='radio' name='kindOptions' value='Short Hand') 
                        | Short Hand                        
                    label.radio-inline
                        input#kindOption3(type='radio' name='kindOptions' value='Empty Net') 
                        | Empty Net                        
            div.form-group
                label.col-sm-3.control-label(for='score') Score
                div.col-sm-9
                    input#score.form-control(type='text', name='score')
            div.form-group
                label.col-sm-3.control-label(for='assist1') Assist1
                div.col-sm-9
                    input#assist1.form-control(type='text', name='assist1')
            div.form-group
                label.col-sm-3.control-label(for='assist2') Assist2
                div.col-sm-9
                    input#assist2.form-control(type='text', name='assist2')
            div.form-group
                div.col-sm-offset-3.col-sm-9
                    a.btn.btn-default(href='/gameentry', title='Cancel') Cancel
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    input.btn.btn-primary(type='submit', value='Save')            
            