doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    
  block links
    link(href="/stylesheets/style.css" rel="stylesheet" type="text/css")
    link(href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css")
    link(href="/stylesheets/bootstrap-theme.min.css" rel="stylesheet" type="text/css")
    
  block scripts
    script(src='/javascripts/bootstrap.min.js' type='text/javascript')
    
  body
    ul.nav.nav-pills
      li.active(role="presentation")
        a(href="/" aria-controls="/" role="pill" data-toggle="pill" ) Home
      li(role="presentation")
        a(href="teamstats"  aria-controls="teamstats" role="pill" data-toggle="pill") Team Stats
      li(role="presentation")
        a(href="playerstats" aria-controls="/playerstats" role="pill" data-toggle="pill") Player Stats
      li(role="presentation")
        a(href="gameentry" aria-controls="/gameentry" role="pill" data-toggle="pill") Game Entry
        
    block content
